SNOWFLAKE_ACCOUNT=your_account.region.azure
SNOWFLAKE_USER=your_email@company.com
SNOWFLAKE_AUTHENTICATOR=externalbrowser
SNOWFLAKE_WAREHOUSE=your_warehouse
SNOWFLAKE_DATABASE=your_database
SNOWFLAKE_SCHEMA=your_schema
SNOWFLAKE_ROLE=your_role
# SNOWFLAKE_PASSWORD=  # Uncomment for password auth
